<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaU8naTmdJUf5EeF3vbg1533KnpfX_6xU</string>
	<key>GCM_SENDER_ID</key>
	<string>317598830665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.jedidi.tasknow.tasknow</string>
	<key>PROJECT_ID</key>
	<string>smartdoai</string>
	<key>STORAGE_BUCKET</key>
	<string>smartdoai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317598830665:ios:ccbe83d9e60db08ddd2f98</string>
</dict>
</plist>